<div class="row">
  <div class="ten columns centered">
    <h1>
      <%= link_to 'Happiness', root_path, class: 'logo',
          title: 'Let parents and children grow up together!' %>
    </h1>
    <h6 class="subheader">Let parents and children grow up together!</h6>
  </div>
</div>
